JDBC_DATA_SOURCE={{ username_db }}/{{ password }}=@{{ host_db }}:{{ port_db }}/{{ database_acs }}
DATABASE_VENDOR=mysql
{% if rabbit_instance == "true" %}
MESSAGE_BROKER_ADDRESS={{ MESSAGE_BROKER_ADDRESS }}:5672
{% else %}
MESSAGE_BROKER_ADDRESS={{ MESSAGE_BROKER_ADDRESS }}
{% endif %}
MESSAGE_BROKER_USERNAME={{ MESSAGE_BROKER_USERNAME }}
MESSAGE_BROKER_PASSWORD={{ MESSAGE_BROKER_PASSWORD }}
MULTICAST_NOTIFICATION_LOCAL_IFACE={{ ansible_hostname }}
MULTICAST_NOTIFICATION_REGION_ID={{ region_id_acs }}
UMSCORBALOC={{ ansible_hostname }}:9995

MONITORED_PARAMETER_ENABLED=true
USE_KAFKA_MESSAGING=true
ELK_OVER_KAFKA=true
KAFKA_MESSAGING_ADDRESS={{ KAFKA_MESSAGING_ADDRESS }}
KAFKA_CONSUMER_GROUP_ID=gpon

REDIS_MODE=master-slave
REDIS_CONS={{ REDIS_CONS }}:6379
REDIS_PASSWORD={{ REDIS_PASSWORD }}
CACHE_SYSTEM=memory