{% if rabbit_instance == "true" %}
MESSAGE_BROKER_ADDRESS={{ MESSAGE_BROKER_ADDRESS }}:5672
{% else %}
MESSAGE_BROKER_ADDRESS={{ MESSAGE_BROKER_ADDRESS }}
{% endif %}
MESSAGE_BROKER_USERNAME={{ MESSAGE_BROKER_USERNAME }}
MESSAGE_BROKER_PASSWORD={{ MESSAGE_BROKER_PASSWORD }}
MULTICAST_NOTIFICATION_LOCAL_IFACE={{ ansible_hostname }}
MULTICAST_NOTIFICATION_REGION_ID={{ region_id_cwmp }}
CLUSTER_NAME=cluster-1
SERVICE_NAME=cwmp