JDBC_DATA_SOURCE={{ username_db }}/{{ password }}=@{{ host_db }}:{{ port_db }}/{{ database_ies }}
DATABASE_VENDOR=mysql
{% if rabbit_instance == "true" %}
MESSAGE_BROKER_ADDRESS={{ MESSAGE_BROKER_ADDRESS }}:5672
{% else %}
MESSAGE_BROKER_ADDRESS={{ MESSAGE_BROKER_ADDRESS }}
{% endif %}
MESSAGE_BROKER_USERNAME={{ MESSAGE_BROKER_USERNAME }}
MESSAGE_BROKER_PASSWORD={{ MESSAGE_BROKER_PASSWORD }}
MULTICAST_NOTIFICATION_LOCAL_IFACE={{ ansible_hostname }}
MULTICAST_NOTIFICATION_REGION_ID={{ region_id_acs }}
SCRIPTINSTANCE_PURGE_FREQUENCY=60
SCRIPTINSTANCE_PURGE_PERIOD=720
SCRIPTINSTANCE_PURGE_START_TIME=0
UMSCORBALOC={{ ansible_hostname }}:9995
LOGLEVEL=L3
AUTH_METHOD=UMS
