DATASOURCE={{ username_db }}/{{ password }}@{{ database_ums }}
CONNECTIONS=16
DATASOURCETYPE=ODBC
DBTRACE=FALSE
CORBA_DEBUG=FALSE
CORBA_THREADPOOL=10
CORBA_IFACE=*:9995
FLUSH=YES
LOGLEVEL=L3
LOGSIZE=1000000
LOGTHREADID=NO
REMOTEPORT=0
ARCHIVELOGS=NO