[Incognito-nrcsvc6-ga]
name=Incognito Software Systems - User Management Service v6.x GA - $basearch
baseurl=http://repository.incognito.com/rpms/ga/nrcsvc6/{{ license_key_ums }}/$releasever/$basearch
enabled=1
gpgcheck=0

[Incognito-nrcsvc6-ga-noarch]
name=Incognito Software Systems - User Management Service v6.x GA - noarch
baseurl=http://repository.incognito.com/rpms/ga/nrcsvc6/{{ license_key_ums }}/$releasever/noarch
enabled=1
gpgcheck=0

[Incognito-nrcsvc6-beta]
name=Incognito Software Systems - User Management Service  v6.x Beta - $basearch
baseurl=http://repository.incognito.com/rpms/beta/nrcsvc6/{{ license_key_ums }}/$releasever/$basearch
enabled=0
gpgcheck=0

[Incognito-nrcsvc6-beta-noarch]
name=Incognito Software Systems - User Management Service  v6.x Beta - noarch
baseurl=http://repository.incognito.com/rpms/beta/nrcsvc6/{{ license_key_ums }}/$releasever/noarch
enabled=0
gpgcheck=0