[Incognito-cwmp5-ga]
name=Incognito Software Systems - CPE WAN Management Protocol Service v5.x GA - noarch 
baseurl=http://repository.incognito.com/rpms/ga/cwmp5/{{ license_key_cwmp }}/$releasever/noarch
enabled=1
gpgcheck=0

[Incognito-cwmp5-beta]
name=Incognito Software Systems - CPE WAN Management Protocol Service v5.x Beta - noarch
baseurl=http://repository.incognito.com/rpms/beta/cwmp5/{{ license_key_cwmp }}/$releasever/noarch
enabled=1
gpgcheck=0