[Incognito-acs5-ga]
name=Incognito Software Systems - Auto Configuration Service v5.x GA - noarch
baseurl=http://repository.incognito.com/rpms/ga/acssvc5/{{ license_key_acs }}/$releasever/noarch
enabled=1
gpgcheck=0

[Incognito-acs5-beta]
name=Incognito Software Systems - Auto Configuration Service v5.x Beta - noarch
baseurl=http://repository.incognito.com/rpms/beta/acssvc5/{{ license_key_acs }}/$releasever/noarch
enabled=1
gpgcheck=0