[acs]                                                     
Description = MySQL database 1                                   
Driver  = MySQL ODBC 8.4 Unicode Driver                                                  
Port = 3306                                                      
Server = {{ host_db }}
User = {{ username_db }}
Password = {{ password }}                          
Database = {{ database_acs }}
[ies]                                                     
Description = MySQL database 1                                   
Driver  = MySQL ODBC 8.4 Unicode Driver                                                  
Port = 3306                                                      
Server = {{ host_db }}
User = {{ username_db }}
Password = {{ password }}                          
Database = {{ database_ies }}
[ums]                                                     
Description = MySQL database 1                                   
Driver  = MySQL ODBC 8.4 Unicode Driver                                                  
Port = 3306                                                      
Server = {{ host_db }}
User = {{ username_db }}
Password = {{ password }}                          
Database = {{ database_ums }}
[retina]                                                     
Description = MySQL database 1                                   
Driver  = MySQL ODBC 8.4 Unicode Driver                                                  
Port = 3306                                                      
Server = {{ host_db }}
User = {{ username_db }}
Password = {{ password }}                          
Database = {{ database_retina }}